# See https://caddyserver.com/docs/caddyfile-tutorial for more information.

# For running this project's tests.
:8816 {
    reverse_proxy bootstrap_3n.local:8016 node2.local:8016 node3.local:8016 {
    }
}

# For manual performance tests against a quick-table app.
:8809 {
    reverse_proxy bootstrap_3n.local:8009 node2.local:8009 node3.local:8009 {
    }
}
