<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="com.marklogic.client" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <!-- Set to ERROR so that the somewhat-ugly WARN level messages are suppressed. Users will still see them unless
  they do likewise. Our connector then logs more-pleasant ERROR messages when a batch fails. -->
  <logger name="com.marklogic.client.datamovement.impl.WriteBatcherImpl" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.marklogic.spark" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="org.apache.hadoop" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>
